/*index style*/
.topnav {/* Style Navigationsleiste, langer Balken, kaffebohnen)*/
  background-image: 
   url("https://images.unsplash.com/photo-1447933601403-0c6688de566e?dpr=1&auto=compress,format&fit=crop&w=956&h=&q=80&cs=tinysrgb&crop=");
  overflow: hidden;
}

.topnav a { /*  Style innerhalb der Navigationleiste */
  float: left;
  display: block;
  background-color: var(--darkred);
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 75%;
  border-width: 0px;
  border-radius: 0px;
  margin-left: 0px; /* Abstand zwischen den Elementen*/
}

.topnav a:hover {/*schwebende Elemente, gehe mit den Mauszeiger über Navi-Leiste rüber)*/
    color: white; /* Schriftfarbe*/
    background-color: var(--red); 
}

a:hover{
  text-decoration: none;
  background-color: var(--red);
  color: white
}

/*.topnavsortiment { /* überpürfen, ob es gebraucht wird*/
    background-color: green
    color: white;

a:hover{
  background-color: var(--red);
  color: white
}*/

a { /* das war doch für "a" also für alle verlinkung ?*/
	text-decoration: none;
	color: white;
	background-color: darkred;
	margin-left: 16px;
	border-style: outset;
	border-width: 0px;
	border-radius: 15%;
	padding: 10px;
	margin-top: 32px;
}

