/* Button , ohne sich anzumelden*/


   #btnLogout {
        margin-top: 16px;
        background-color: var(--darkred);
    }
    #btnLogout:hover {
        margin-top: 16px;
        background-color: var(--red);
    }
    
   /* .profileBtn {
        background-color:var(--darkgreen);
    }  
    .profileBtn:hover {
        background-color: var(--green);
    }  */

.btn{ /*Style für "Login" - Buttons */
    background-color: var(--darkgreen);
    color: white;
    border-color: transparent;
}
.btn:hover {
	color: white;
	background-color: var(--green) ;
}

.btn:disabled{
	color: white;
	background-color: var(--green) ;
}

